<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Cliente</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/miestilo.css}">
</head>
<body>
	<header th:replace="home::header"></header>

	<div class="container d-flex justify-content-center align-items-center">
		<div class="form-container">
			<h1>Editar Cliente</h1>
			<p class="text-muted">
				Estás modificando el cliente de ID: <strong th:text="${cliente.id}"></strong>
			</p>
			<form th:action="@{/views/cliente/save}" method="post">
				<input type="hidden" name="id" th:value="${cliente.id}">
				<div class="mb-3">
					<label class="form-label">Paterno</label> <input type="text"
						name="paterno" class="form-control" th:value="${cliente.paterno}">
				</div>
				<div class="mb-3">
					<label class="form-label">Materno</label> <input type="text"
						name="materno" class="form-control" th:value="${cliente.materno}">
				</div>
				<div class="mb-3">
					<label class="form-label">Nombres</label> <input type="text"
						name="nombres" class="form-control" th:value="${cliente.nombres}">
				</div>
				<div class="mb-3">
					<label class="form-label">DNI</label> <input type="text" name="dni"
						class="form-control" th:value="${cliente.dni}">
				</div>
				<div class="mb-3">
					<label class="form-label">Ciudad</label> <input type="text"
						name="ciudad" class="form-control" th:value="${cliente.ciudad}">
				</div>
				<div class="mb-3">
					<label class="form-label">Correo</label> <input type="text"
						name="email" class="form-control" th:value="${cliente.email}">
				</div>
				<label class="form-label">Estado</label> <select class="form-select"
					aria-label="Default select example" name="estado">
					<option th:if="${cliente.estado == true}" value="true">ACTIVO</option>
					<option th:unless="${cliente.estado == false}" value="false">INACTIVO</option>
					<option th:if="${cliente.estado == false}" value="true">INACTIVO</option>
					<option th:unless="${cliente.estado == true}" value="true">ACTIVO</option>
				</select>
				<button type="submit" class="btn btn-success">Guardar</button>
				<button class="btn btn-danger" th:href="@{/views/cliente}">Cancelar</button>
			</form>
		</div>
	</div>
	<footer th:replace="home::footer"></footer>
	
</body>
</html>
<
<!-- MINUTO 1.54 -->
